/*# these are variables: $nameName */
$textColor: #909090;
$headerFont: Times New Roman, serif;

/*# these are partials, make sure to list them in the order you want them applied: */
@import "reset";
@import "type";
@import "layout";

body {width:50%;margin: 10 auto;font-size:16px;}
img {width:100%;}

h1 {color:$textColor; font-family: $headerFont;}
h2 {color:$textColor; font-family: $headerFont;}
ul {color:$textColor; text-decoration: none;}


/*# these are nested variables: */
nav {
	word-spacing: 10px;
    background-color: white; 
    ul {list-style: none;font-size: 20px;}
}

article {background-color: white;

    ul {list-style: disc;font-size: 1em;}

}

a:link 	{
    	text-decoration: none;
    	color: #047680;
		}